每日文章 [ 2020.09 ]

## GitHub 项目

### 数据结构与算法

关于数据结构与算法的 GitHub 项目，star 数由高到低排序。

*   [javascript\-algorithms（51.3k）](https://github.com/trekhleb/javascript-algorithms)

该仓库包含了多种基于 JavaScript 的算法与数据结构，提供进一步阅读的解释和链接。
每种算法和数据结构都有自己的 README，包含相关说明和链接，以便进一步阅读 (还有 YouTube 视频) 。

*   [Algorithm\_Interview\_Notes\-Chinese（24.6k）](https://github.com/imhuay/Algorithm_Interview_Notes-Chinese)

2018/2019/校招/春招/秋招/算法/机器学习(Machine Learning)/深度学习(Deep Learning)/自然语言处理(NLP)/C/C++/Python/面试笔记

*   [algorithm\-visualizer（23k）](https://github.com/algorithm-visualizer/algorithm-visualizer)

算法可视化工具是一个交互式的在线平台，可以从代码中可视化算法。

*   [swift\-algorithm\-club（20.8k）](https://github.com/raywenderlich/swift-algorithm-club)

算法和数据结构迅速，有解释 ！

*   [algorithms（15.4k）](https://github.com/keon/algorithms)

Python中数据结构和算法的最小示例。

*   [algo（8.3k）](https://github.com/wangzheng0822/algo)

数据结构和算法必知必会的50个代码实现。

*   [awesome\-algorithms（6.4k）](https://github.com/tayllan/awesome-algorithms)

一份很棒的学习和/或练习算法的地方的整理清单。

*   [algorithms](https://github.com/jeffgerickson/algorithms)

对Jeff的算法书、笔记等进行错误跟踪

*   [javascript\-algorithms（5.4k）](https://github.com/mgechev/javascript-algorithms)

此存储库包含不同著名计算机科学算法的 javascript 实现。

*   [Learn\-Algorithms（3.8k）](https://github.com/nonstriater/Learn-Algorithms)

算法学习笔记。

*   [AlgoXY（3.8k）](https://github.com/liuxinyu95/AlgoXY)

基本算法和数据结构手册。

*   [JavaScript 更多 ...](https://github.com/search?l=JavaScript&o=desc&q=algo&s=stars&type=Repositories)
*   [其他语言，更多 ...](https://github.com/search?o=desc&p=1&q=algo&s=stars&type=Repositories)

### LeetCode

关于 LeetCode 的 GitHub 项目，star 数由高到低排序。

*   [LeetCodeAnimation（36k）](https://github.com/MisterBooo/LeetCodeAnimation)

用动画的形式呈现解LeetCode题目的思路。

*   [leetcode（13.6k）](https://github.com/azl397985856/leetcode)

leetcode 题解，记录自己的leetcode解题之路。

*   [leetcode（11.2k）](https://github.com/haoel/leetcode)

leetcode 问题解决方案。

*   [leetcode（7.7k）](https://github.com/soulmachine/leetcode)

LeetCode题解，151道题完整版。

*   [awesome\-java\-leetcode（6.2k）](https://github.com/Blankj/awesome-java-leetcode)

LeetCode算法与Java解决方案（更新）。

*   [vscode\-leetcode（4.1k）](https://github.com/jdneo/vscode-leetcode/blob/master/docs/README_zh-CN.md)

在 VS Code 中练习 LeetCode。

*   [LintCode（3.4k）](https://github.com/awangdev/LintCode)

LintCode/LeetCode 的 Java 解决方法。

*   [algorithm\-exercise（2.6k）](https://github.com/billryan/algorithm-exercise)

数据结构与算法/leetcode/lintcode题解/

*   [更多 ...](https://github.com/search?o=desc&p=1&q=leetcode&s=stars&type=Repositories)

## 算法可视化工具

*   算法可视化工具 [algorithm\-visualizer](https://github.com/algorithm-visualizer/algorithm-visualizer)
    算法可视化工具 algorithm\-visualizer 是一个交互式的在线平台，可以从代码中可视化算法，还可以看到代码执行的过程。

效果如下图。

![图片描述](https://segmentfault.com/img/bVbvl3P?w=1417&h=814 "图片描述")

旨在通过交互式可视化的执行来揭示算法背后的机制。

*   算法可视化来源 [https://visualgo.net/en](https://visualgo.net/en)

效果如下图。
![quick-sort.gif](https://segmentfault.com/img/remote/1460000019843843?w=1419&h=823/view "quick-sort.gif")

*   [https://www.ee.ryerson.ca](https://www.ee.ryerson.ca/~courses/coe428/sorting/insertionsort.html)

![图片描述](https://segmentfault.com/img/bVbvseX?w=643&h=474 "图片描述")

*   [illustrated\-algorithms](https://github.com/skidding/illustrated-algorithms)

变量和操作的可视化表示增强了控制流和实际源代码。您可以快速前进和后退执行，以密切观察算法的工作方式。

![图片描述](https://segmentfault.com/img/bVbvp0H?w=783&h=450 "图片描述")

## JavaScript 数据结构与算法之美

**JavaScript 数据结构与算法之美**系列是笔者写的， 用的语言是 **JavaScript** ，旨在入门数据结构与算法和方便以后复习。

*   [1\. JavaScript 数据结构与算法之美 \- 时间和空间复杂度](https://github.com/biaochenxuying/blog/issues/29)
*   [2\. JavaScript 数据结构与算法之美 \- 线性表（数组、队列、栈、链表）](https://github.com/biaochenxuying/blog/issues/34)
*   [3\. JavaScript 数据结构与算法之美 \- 实现一个前端路由，如何实现浏览器的前进与后退 ？](https://github.com/biaochenxuying/blog/issues/30)
*   [4\. JavaScript 数据结构与算法之美 \- 栈内存与堆内存 、浅拷贝与深拷贝](https://github.com/biaochenxuying/blog/issues/35)
*   [5\. JavaScript 数据结构与算法之美 \- 递归](https://github.com/biaochenxuying/blog/issues/36)
*   [6\. JavaScript 数据结构与算法之美 \- 非线性表（树、堆）](https://github.com/biaochenxuying/blog/issues/37)
*   [7\. JavaScript 数据结构与算法之美 \- 冒泡排序、选择排序、插入排序](https://github.com/biaochenxuying/blog/issues/39)
*   [8\. JavaScript 数据结构与算法之美 \- 归并排序、快速排序、希尔排序、堆排序](https://github.com/biaochenxuying/blog/issues/40)
*   [9\. JavaScript 数据结构与算法之美 \- 计数排序、桶排序、基数排序](https://github.com/biaochenxuying/blog/issues/41)
*   [10\. JavaScript 数据结构与算法之美 \- 十大经典排序算法汇总](https://github.com/biaochenxuying/blog/issues/42)
*   [11\. JavaScript 数据结构与算法之美 \- 强烈推荐 GitHub 上值得前端学习的数据结构与算法项目](https://github.com/biaochenxuying/blog/issues/43)

[ 2020.09.01 ]
1.[数据结构和算法动态可视化](https://visualgo.net/en)

[ 2020.09.02 ]
1.[《「可视化搭建系统」——从设计到架构，探索前端领域技术和业务价值》](https://zhuanlan.zhihu.com/p/164558106)
2.[《浅谈低代码平台涉及的一些技术选型》](https://zhuanlan.zhihu.com/p/182211043)
3.[《前端工程实践之可视化搭建系统（一）》](https://juejin.im/post/6844903950508883982)

[ 2020.09.04 ]
1.[《B 站 - 湖科大教书匠》很多计算机网络的视频](https://space.bilibili.com/360996402)
2.[《一文搞懂TCP与UDP的区别》](https://blog.fundebug.com/2019/03/22/differences-of-tcp-and-udp/)

[ 2020.09.06 ]
1.[《2020年中大厂前端面试总结》](https://mp.weixin.qq.com/s/uK6tSD-6d_ovg5Ak87HCCQ)

[ 2020.09.08 ]
1.[《The 6 Major Changes in React v17.0》](https://medium.com/better-programming/the-6-major-changes-in-react-v17-0-d14fed5b0529)

[ 2020.09.09 ]
1.[《4 Books Everyone in Tech Should Read and Why》](https://medium.com/better-programming/4-books-every-it-professional-should-read-and-why-b50628175372)

[ 2020.09.10 ]
HTTP

* [RFC2045](https://tools.ietf.org/html/rfc2045) - MIME(old)
* [RFC2616](https://tools.ietf.org/html/rfc2616) - HTTP/1.1(old)
* [RFC3986](https://tools.ietf.org/html/rfc3986) - URI
* [RFC6265](https://tools.ietf.org/html/rfc6265) - Cookie
* [RFC6648](https://tools.ietf.org/html/rfc6648) - Deprecating the "X-" Prefix
* [RFC6838](https://tools.ietf.org/html/rfc6838) - MIME(new)
* [RFC7230](https://tools.ietf.org/html/rfc7230) - HTTP/1.1(new)
* [RFC7540](https://tools.ietf.org/html/rfc7540) - HTTP/2
* [RFC7541](https://tools.ietf.org/html/rfc7541) - HPACK in HTTP/2
* [RFC7838](https://tools.ietf.org/html/rfc7838) - Alt-Svc
* [RFC????](https://tools.ietf.org/html/draft-ietf-quic-http) - HTTP/3(Draft)

HTTPS/SSL/TLS

* [RFC1122](https://tools.ietf.org/html/rfc1122) - TCP/IP Stack
* [RFC2818](https://tools.ietf.org/html/rfc2818) - HTTPS
* [RFC3526](https://tools.ietf.org/html/rfc3526) - DH Modular Exponential
* [RFC4492](https://tools.ietf.org/html/rfc4492) - ECC Suites for TLS(old)
* [RFC5077](https://tools.ietf.org/html/rfc5077) - TLS Session Resumption
* [RFC5116](https://tools.ietf.org/html/rfc5116) - AES AEAD
* [RFC5246](https://tools.ietf.org/html/rfc5246) - TLS 1.2
* [RFC5280](https://tools.ietf.org/html/rfc5280) - X.509 v3
* [RFC5288](https://tools.ietf.org/html/rfc5288) - AES_GCM Suites
* [RFC5289](https://tools.ietf.org/html/rfc5289) - ECC_AES_GCM Suites
* [RFC6066](https://tools.ietf.org/html/rfc6066) - TLS Extension(SNI)
* [RFC6797](https://tools.ietf.org/html/rfc6797) - HSTS
* [RFC6960](https://tools.ietf.org/html/rfc6960) - OCSP
* [RFC6961](https://tools.ietf.org/html/rfc6961) - OCSP Stapling
* [RFC7301](https://tools.ietf.org/html/rfc7301) - ALPN
* [RFC7525](https://tools.ietf.org/html/rfc7525) - Recommendations for TLS
* [RFC7748](https://tools.ietf.org/html/rfc7748) - ECC x25519
* [RFC7918](https://tools.ietf.org/html/rfc7918) - False Start
* [RFC8032](https://tools.ietf.org/html/rfc8032) - EdDSA
* [RFC8422](https://tools.ietf.org/html/rfc8422) - ECC Suites for TLS(new)
* [RFC8439](https://tools.ietf.org/html/rfc8439) - ChaCha-Poly1305
* [RFC8446](https://tools.ietf.org/html/rfc8446) - TLS 1.3
* [RFC8470](https://tools.ietf.org/html/rfc8470) - Using Early Data in HTTP
* [RFC8484](https://tools.ietf.org/html/rfc8484) - DNS over HTTPS
* [RFC8555](https://tools.ietf.org/html/rfc8555) - ACME

Others

* [RFC2324](https://tools.ietf.org/html/rfc2324) - HTCPCP
* [RFC4122](https://tools.ietf.org/html/rfc4122) - UUID/GUID
* [RFC4648](https://tools.ietf.org/html/rfc4648) - Base16/32/64
* [RFC6455](https://tools.ietf.org/html/rfc6455) - WebSocket
* [RFC7168](https://tools.ietf.org/html/rfc7168) - HTCPCP-TEA
* [QUIC-Draft](https://quicwg.org/) - QUIC-Draft


## Websites

* [Nginx](http://nginx.org/) - Nginx Website
* [OpenResty](http://openresty.org/) - OpenResty Website
* [OpenSSL](https://www.openssl.org/) - OpenSSL
* [Let's encrypt](https://letsencrypt.org/) - Let's encrypt
* [SSLLabs](https://www.ssllabs.com/) - SSLLabs
* [ModSecurity](http://modsecurity.org/) - ModSecurity
* [BIND9](https://www.isc.org/bind/) - BIND9
* [WebPageTest](https://www.webpagetest.org/) - WebPageTest

## Dev Links

* [ngx_lua](https://github.com/openresty/lua-nginx-module) - lua-nginx-module
* [stream_lua](https://github.com/openresty/stream-lua-nginx-module) - stream-lua-nginx-module
* [lua-resty-core](https://github.com/openresty/lua-resty-core) - lua-resty-core

## See Also

* [《C++实战笔记》](https://time.geekbang.org/column/intro/309)
* [annotated_nginx](https://github.com/chronolaw/annotated_nginx) - 注释nginx，学习研究源码
* [ngx_ansic_dev](https://github.com/chronolaw/ngx_ansic_dev) - Nginc ANSI C Development
* [openresty_dev](https://github.com/chronolaw/openresty_dev) - OpenResty/Lua Programming
* [favorite-nginx](https://github.com/chronolaw/favorite-nginx) - Selected favorite nginx modules and resources.
* [boost guide](https://github.com/chronolaw/boost_guide.git) - Sample code for Boost library Guide.
* [professional_boost](https://github.com/chronolaw/professional_boost.git) - Professional boost development.


[ 2020.09.15 ]
1.[《Git Community Book 中文版》](gitbook.liuhui998.com/index.html)
2.[《HTTP缓存控制小结》](https://imweb.io/topic/5795dcb6fb312541492eda8c)

[ 2020.09.19 ]
1.[TCP/IP 详解卷一 - TCP CWR、ECE、URG、ACK、PSH、RST、SYN、FIN控制位](https://www.cnblogs.com/bonelee/p/9077266.html)

[ 2020.09.21 ]
1.[《看完这篇 HTTPS，和面试官扯皮就没问题了》](https://segmentfault.com/a/1190000022012971)

[ 2020.09.28 ]
1.[《VSCode 调试中 launch.json 配置不完全指南》](https://www.barretlee.com/blog/2019/03/18/debugging-in-vscode-tutorial/)

[ 2020.09.29 ]
1.[《esModuleInterop 到底做了什么？》](https://zhuanlan.zhihu.com/p/148081795)
2.[《typescript编译选项esModuleInterop的作用》](https://blog.csdn.net/juzipidemimi/article/details/103438437)